@font-face {
    font-family: Airlash;
    src: url(Airlash\ Raiders.ttf);
}

@font-face {
    font-family: Golden;
    src: url(Hunters\ K-Pop.otf);
}

@font-face {
    font-family: CreatoMedium;
    src: url(CreatoDisplay-Medium.otf);
}

@font-face {
    font-family: CreatoMediumItalic;
    src: url(CreatoDisplay-MediumItalic.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: CreatoMedium;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://starquality.shop/cdn/shop/files/av0ar8_2.gif?v=1677164784);
    height: 20vh;
    background-position: center;
    background-size: cover;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 60px;
}
ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    transition: 1s ease;
    font-family: CreatoMediumItalic;
}

.HomeQ a:hover {
    background-image: linear-gradient(#c09adb, #ffffff);
    color: #431579;
    border-radius: 10px;
}
.FFQ a:hover {
    background-image: linear-gradient(#a17bb9, #ffffff);
    color: #8132c2;
    border-radius: 10px;
}

.AboutQ a:hover {
    background-image: linear-gradient(#825b97, #ffffff);
    color: #7d2dc7;
    border-radius: 10px;
}

.MissionQ a:hover {
    background-image: linear-gradient(#623c74, #ffffff);
    color: #431579;
    border-radius: 10px;
}

.QuarterQ a:hover {
    background-image: linear-gradient(#431c52, #fff);
    color: #431579;
    border-radius: 10px;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.main {
    padding-top: 10px;
    max-width: 1200px;
    margin: auto;
}

.Divider {
    line-height: 2px;
    background-color: #350757;
}

.PageOne {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://4kwallpapers.com/images/wallpapers/dark-purple-3440x1440-17330.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1vh;
    overflow-x: hidden;

}

.quarter4 {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10vh;
    iframe {
        border-radius: 10px;
    }
}

.caption {
    p {
        padding: 2vh;
        border-radius: 10px;
        background-image: linear-gradient(gray, rgb(94, 94, 94));
        color: #000;
        margin-bottom: 2vh;
        margin-left: 2vh;
    }
}

.organ{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;                    
    padding: 5px 40px;
}

.organ img{
    
    border-radius: 20px;
    margin: auto;
    width: 990px;
    height: auto;
}

.organ-text {
    max-width: 500px;
    color: white;
    font-size: 30px;
    font-family: CreatoMedium;
}



.team-link {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #d5b3ff;
    font-weight: bold;
    transition: 0.3s;
}

.team-link:hover {
    color: #e4cff8;
    text-decoration: underline;
}

.fade-slide {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.2s ease-out;
}

.fade-slide.show {
    opacity: 1;
    transform: translateY(0);
}

.glow-image {
    opacity: 0;
    filter: drop-shadow(0 0 0px #b07bff);
}

.glow-image.show {
    animation: glowIn 1s ease forwards;
}

@keyframes glowIn {
    0% {
        opacity: 0;
        filter: drop-shadow(0 0 0px #000);
    }
    60% {
        opacity: 1;
        filter: drop-shadow(0 0 20px #b07bff);
    }
    100% {
        opacity: 1;
        filter: drop-shadow(0 0 10px #cfaaff);
    }
}