@font-face {
    font-family: Airlash;
    src: url(Airlash\ Raiders.ttf);
}

@font-face {
    font-family: Golden;
    src: url(Hunters\ K-Pop.otf);
}

@font-face {
    font-family: CreatoMedium;
    src: url(CreatoDisplay-Medium.otf);
}

@font-face {
    font-family: CreatoMediumItalic;
    src: url(CreatoDisplay-MediumItalic.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: CreatoMedium;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://starquality.shop/cdn/shop/files/av0ar8_2.gif?v=1677164784);
    height: 10vh;
    background-position: center;
    background-size: cover;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 60px;
}
ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    transition: 1s ease;
    font-family: CreatoMediumItalic;
}

.HomeQ a:hover {
    background-image: linear-gradient(#c09adb, #ffffff);
    color: #431579;
    border-radius: 10px;
}
.FFQ a:hover {
    background-image: linear-gradient(#a17bb9, #ffffff);
    color: #8132c2;
    border-radius: 10px;
}

.AboutQ a:hover {
    background-image: linear-gradient(#825b97, #ffffff);
    color: #7d2dc7;
    border-radius: 10px;
}

.MissionQ a:hover {
    background-image: linear-gradient(#623c74, #ffffff);
    color: #431579;
    border-radius: 10px;
}

.QuarterQ a:hover {
    background-image: linear-gradient(#431c52, #fff);
    color: #431579;
    border-radius: 10px;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.main {
    padding-top: 10px;
    max-width: 1200px;
    margin: auto;
}

.Quarter3 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 80px 0px 0px 0px;
    iframe {
        border-radius: 10px;
    }
}

.Caption1 {
    background-image: linear-gradient(gray, rgb(94, 94, 94));
    font-size: 20px;
    border-radius: 10px;
    color: #000;
    margin-top: 5vh;
    margin-left: 12vh;
    margin-right: 12vh;
    margin-bottom: 2vh;
    padding: 2vh;
}

.Caption2 {
    background-image: linear-gradient(gray, rgb(94, 94, 94));
    font-size: 20px;
    border-radius: 10px;
    color: #000;
    margin-top: 5vh;
    margin-left: 12vh;
    margin-right: 12vh;
    margin-bottom: 2vh;
    padding: 2vh;
}

.caption {
    background-image: linear-gradient(gray, rgb(94, 94, 94));
    font-size: 25px;
    border-radius: 10px;
    color: #000;
    margin-top: 5vh;
    margin-left: 12vh;
    margin-right: 12vh;
    padding: 2vh;
}

.Divider {
    line-height: 2px;
    background-color: #350757;
}

.InfoSection {
    min-height: 100vh;
    padding: 80px 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), 
                      url(https://4kwallpapers.com/images/wallpapers/dark-purple-3440x1440-17330.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.InfoRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    justify-items: center;
    max-width: 900px; 
    margin: 0 auto;
    padding-top: 80px;
}

.GlassBox {
    width: 370px;
    padding: 35px 50px;
    min-height: 260px;
    border-radius: 30px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 35px rgba(170, 120, 255, 0.25);

    text-align: center;
    color: #fff;

    opacity: 0;
    transition: 0.8s ease, opacity 1s ease;
}

.GlassBox:nth-child(odd) {
    transform: translateX(-60px) translateY(40px);
}

.GlassBox:nth-child(even) {
    transform: translateX(60px) translateY(40px);
}

.GlassBox.showBoxes {
    transform: translateX(0) translateY(0);
    opacity: 1;
}

.GlassBox:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 45px rgba(200, 150, 255, 0.45);
}

.GlassBox h3 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: CreatoMedium; 
    letter-spacing: 1px;
}